@if (TodoItems != null)
{
<div class="flex w-full flex-wrap">
    <NewTodoItemComponent OnNewTodoItem="AddTodoItemToList"></NewTodoItemComponent>
    <Dropzone Items="TodoItems">
        <TodoItemComponent TodoItem="@context" OnChange="Save" OnDelete="RemoveFromTodoList"></TodoItemComponent>
    </Dropzone>

</div>
}
else
{<div class="w-full h-screen flex justify-center flex-wrap content-center">
    <div class="loader ease-linear rounded-full border-8 border-t-8 border-gray-200 h-64 w-64"></div>
</div>
}