@using Todo.Shared.Enums
@if (TodoList != null)
{
    <div class="flex w-full flex-wrap gap-2">
        @if (TodoList.ShareRole > ShareRole.Edit){ 
            <NewTodoItemComponent OnNewTodoItem="AddTodoItemToList"></NewTodoItemComponent>
        }
        @foreach (var item in TodoList.Items)
        {
            <TodoItemComponent TodoItem="@item" CanEdit="@(TodoList.ShareRole > ShareRole.Edit)" OnChange="Update" OnDelete="RemoveFromTodoList"></TodoItemComponent>
        }

    </div>
}
else
{
    
    <div class="w-full h-full flex justify-center flex-wrap content-center">
        <LoaderComponent/>
    </div>
}